main#battle {

}

#challenge {
    height: 100%;
    width: 100%;
}

.h1Head {
    margin-left: 7.5vw;
    margin-top: 18vh;
}

.h2container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.h2Head {
    margin-top: 10vh;
}

.challengetext {
    margin-left: 7.5vw;
    margin-top: 3vh;
    width: 85%;
    font-size: 1.3em;
    line-height: 1.3;
}
.producten {
    margin: 4vh 0;
}



