/* Base style */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

/* Section headings */
h3 {
  margin-bottom: 15px;
  margin-top: 40px;
}

/* Container */
main#create {
  width: 75vw;
}

/* Room container */
:root {
  --gutter: 10px;
}

.room {
  border-radius: 10px;
  height: 35vh;
  margin-top: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.1);
  background-image: url(../../../img/assets/empty_room.png);
  background-size: cover;
  background-position: center center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: var(--gutter);
  column-gap: var(--gutter);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px dashed rgba(255, 255, 255, 0.5);
}

.grid-container img {
  height: 60px;
}

.grid-container .bank {
  transform: scale(3);
}

.grid-container .plant {
  transform: scale(2);
}

.grid-container .lamp {
  transform: scale(3);
}

.grid-container .stoel {
  transform: scale(3);
}

/* Controls */
.controls {
  flex: 1;
}

.controls ul {
  height: 40px;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.controls ul li i {
  margin-right: 20px;
  font-size: 25px;
  color: var(--white);
}

/* Product section */
.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.content-box {
  padding: 0px;
}

.products .content-box {
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.products .bg {
  background-size: 60px 60px;
  background-position: center center;
  background-repeat: no-repeat;
}

.products .bank-bg {
  background-image: url(../../../img/backgrounds/bank-bg.png);
}

.products .stoel-bg {
  background-image: url(../../../img/backgrounds/stoel-bg.png);
}

.products .lamp-bg {
  background-image: url(../../../img/backgrounds/lamp-bg.png);
}

.products .plant-bg {
  background-image: url(../../../img/backgrounds/plant-bg.png);
}

.products .plant-bg,
.products .lamp-bg {
  background-size: 30px 60px;
}

.products .content-box img {
  width: 60px;
  height: 60px;
  box-sizing: border-box;
}

.products .content-box img.plant,
.products .content-box img.lamp {
  width: 30px;
}

.required-item:before {
  background: var(--blue);
  content: "Verplicht";
  position: absolute;
  color: var(--white);
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 0.8em;
  margin-top: -100px;
}

form {
  display: flex;
  width: 100%;
}

input[type="text"],
button[type="submit"],
input[type="number"] {
  border: none;
}

.search-bar {
  margin-top: 20px;
  padding: 15px 10px;
  display: flex;
  width: 30vw;
  margin-left: auto;
}

input[type="text"] {
  width: 100%;
}

button[type="submit"] {
  background: none;
  margin-left: auto;
}

/* Flex items */
.flex-container {
  display: flex;
  align-items: center;
}

/* Timer */
.timer {
  margin-left: auto;
  font-size: 1.5em;
  font-weight: bold;
}

.timer i {
  color: var(--blue);
  margin-right: 10px;
}

/* Button */
.btn {
  margin-top: 40px;
}

/* Header */
.header {
  justify-content: center;
  padding-top: 6vh;
  background: none;
}
