body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

main#create {
  width: 75vw;
}

.room {
  border-radius: 10px;
  width: 100%;
  height: 35vh;
  margin-top: 40px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.1);
}

.room img {
  width: 100%;
  height: 100%;
}

h3 {
  margin-bottom: 15px;
  margin-top: 40px;
}

.products {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.products .content-box {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  background: var(--blue);
}

.blue:before {
  content: "🟊";
  position: absolute;
  background: red;

  color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.search-bar {
  margin-top: 20px;
  padding: 15px 10px;
  display: flex;
  width: 30vw;
}

form {
  display: flex;
  width: 100%;
}

input[type="text"],
button[type="submit"],
input[type="number"] {
  border: none;
}

.search-bar input[type="text"] {
  width: 100%;
}

.search-bar button[type="submit"] {
  background: none;
  margin-left: auto;
}

.shapes {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shapes .content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
}

.measurements {
  display: flex;
}

.measurement-group .content-box {
  margin-right: 25px;
  margin-top: 10px;
  padding: 10px;
}
