main#login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
}
main#login .logo img {
  max-width: 200px;
  margin-bottom: 50px;
}
main#login .login-forms {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  background: red;
  align-items: center;
}
main#login .account .content-box,
main#login .guest .content-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
main#login .account .content-box a {
  color: var(--blue);
}
main#login .account .content-box input[type="text"],
main#login .account .content-box input[type="password"] {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background: var(--off-white);
}
main#login .account .content-box input[type="submit"] {
  font-size: 16px;
  border: none;
  font-family: var(--base-font);
}
main#login .guest .content-box {
  padding-top: 20vh;
  padding-bottom: 20vh;
}
