@keyframes fadeInRight {
  0% {
    opacity: 0;
    margin-left: 10%;
  }
  100% {
    opacity: 1;
    margin-left: 0;
  }
}

main#menu {
  position: fixed;
  width: 100vw;
  height: 0vh;
  transition: opacity 0.5s, visibility 0.5s, height 0.5s;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.header {
  z-index: 3;
}

.menucontainer {
  position: relative;
  display: flex;
  margin-left: 12.5vw;
  margin-top: 30vh;
}

#menu i {
  color: var(--blue);
  font-size: 75%;
  display: inline;
}

.arrow {
  margin-left: 5vw;
}

.menu-option {
  font-size: 2em;
  margin-bottom: 8vh;
  font-weight: bold;
  cursor: pointer;
}

.menu-option.menu-open {
  margin-bottom: 8vh;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.menu-link {
  color: black;
}

main#menu.menu-open {
  position: fixed;
  opacity: 1;
  visibility: visible;
  height: 100vh;
  background-color: white;
  opacity: 0.8;
}

main#menu.menu-open li {
  animation: fadeInRight 1s ease-in-out;
}
