main#menu {
  position: relative;
  top: 30vh;
  width: 75vw;
  height: 30vh;
}

body {
  display: flex;
  justify-content: center;
  font-size: 30px;
}

p {
  padding-bottom: 80px;
  padding-right: 20px;
  font-weight: bold;
}

.menubutton {
  display: flex;
}

i {
  color: var(--blue);
}
