main#preloader {}

body {
    background-color: white;
    background-image: none;
}

.loading {
    display: flex;
    width: 100vw;
    height: 100vw;
    flex-wrap: wrap;
}

.top {
    width: 100%;
    height: 25%;
}

.sides {
    width: 30%;
    height: 50%;
}

.center {
    width: 40%;
    height: 50%;
}

.bottom {
    width: 100%;
    height: 25%;
}