main#register {}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25vh;

}

.logo-ikea {
    width: 25%;
}

.text-register {
    margin-top: 5vh;
}

#emailInput {
    margin-top: 3vh;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: none;
}

#passInput {
    margin-top: 2vh;
    margin-bottom: 3vh;
    border-radius: 10px;
    background: var(--white);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: none;
}