body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

main#showcase {
  width: 75vw;
}

b {
  font-weight: bold;
}

.ikealogo {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 25%;
  padding: 8%;
}

.showcaseroom {
  width: 100%;
  margin-top: 50px;
  display: flex;
}

.roominfo {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.maininforoom {
  width: 70%;
}

.roomstats {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.roomstat-item {
  margin-right: 30px;
}
.imageroom {
  width: 100%;
  max-height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.heart {
  color: red;
}

.download {
  color: var(--blue);
}

.views {
  color: var(--yellow);
}

.collection {
  color: black;
}

.makerinfo {
  float: right;
  display: flex;
  align-items: center;
}

.makername {
  float: left;
  margin-right: 15px;
}

.makerface {
  width: 70px;
  float: right;
}

.buttons {
  display: flex;
  font-size: 30px;
}

.button {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10px;
  height: 10px;
}

.informationbox {
  margin-top: 20px;
}

.titles {
  margin-top: 15px;
}

.contentleft {
  width: 20%;
}

.contentdescription {
  float: right;
  width: 70%;
}

.contentfurniture {
  float: right;
  width: 70%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxgray {
  height: 30px;
  width: 30px;
  background-color: #efefef;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  color: var(--blue);
}

.imagesofa {
  width: 200%;
}
