@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
:root {
  --blue: #0058a3;
  --lightblue: #f9fcff;
  --yellow: #ffdb00;
  --white: #ffffff;
  --off-white: #fafafa;
  --black: #222222;
  --base-font: "Noto Sans", sans-serif;
}

body {
  font-family: sans-serif;
  font-family: var(--base-font);
  background-color: var(--lightblue);
  color: var(--black);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

p {
  font-weight: normal;
}

a {
  text-decoration: none;
}
