/* Content boxes */
.content-box {
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Buttons */
.btn {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 25px;
  font-weight: bold;
  display: inline-block;
}

.btn--blue {
  color: var(--white);
  background: var(--blue);
}

.btn--white {
  color: var(--blue);
  background: var(--white);
}

/* Burger Menu */
#burgermenu {
  width: 60px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#burgermenu span {
  display: block;
  position: absolute;
  height: 7px;
  width: 90%;
  background: var(--black);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#burgermenu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burgermenu span:nth-child(2) {
  top: 13px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burgermenu span:nth-child(3) {
  top: 26px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#burgermenu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  right: 8px;
}

#burgermenu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#burgermenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 35px;
  right: 8px;
}

nav {
  height: 60px;
  width: 85vw;
  margin-left: 7.5vw;
  display: flex;
  align-items: center;
  position: absolute;
  top: 5vh;
  left: 0;
}

nav img {
  height: 40px;
}

nav #burgermenu {
  margin-left: auto;
}

/* preloader css loading screen animation */

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow-y: hidden;
}

.logoloading {
  display: block;
  position: relative;
  width: 70%;
  animation: enlarge 4s infinite;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
    left: 0%;
  }

  25% {
    transform: scale(1.05);
  }

  50% {
    transform: scale(1);
  }

  75% {
    left: 0%;
    transform: scale(1.05);
  }

  100% {
    left: -500%;
    transform: scale(1);
  }
}