/* Content boxes */
.content-box {
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

/* Buttons */
.btn {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 25px;
  font-weight: bold;
  display: inline-block;
}

.btn--blue {
  color: var(--white);
  background: var(--blue);
}

.btn--white {
  color: var(--blue);
  background: var(--white);
}

/* Burger Menu */
@keyframes fadeInRight {
  0% {
    opacity: 0;
    margin-left: 10%;
  }

  100% {
    opacity: 1;
    margin-left: 0;
  }
}

#burgermenu {
  width: 60px;
  height: 39px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
#burgermenu span {
  display: block;
  position: absolute;
  height: 7px;
  width: 90%;
  background: var(--black);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#burgermenu span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#burgermenu span:nth-child(2) {
  top: 13px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#burgermenu span:nth-child(3) {
  top: 26px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}
#burgermenu.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: -3px;
  right: 8px;
}
#burgermenu.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
#burgermenu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 35px;
  right: 8px;
}
.header {
  height: 60px;
  width: 85vw;
  padding-right: 7.5vw;
  padding-left: 7.5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: var(--lightblue);
}
.header img {
  height: 40px;
}
.header #burgermenu {
  margin-left: auto;
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0vh;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 2;
}

.header {
  z-index: 3;
}

.menucontainer {
  position: relative;
  display: flex;
  margin-left: 12.5vw;
  margin-top: 30vh;
}

#menu i {
  color: var(--blue);
  font-size: 75%;
  display: inline;
}

.arrow {
  margin-left: 5vw;
}

.menu-option {
  font-size: 2em;
  margin-bottom: 8vh;
  font-weight: bold;
  cursor: pointer;
}

.menu-option.menu-open {
  margin-bottom: 8vh;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.menu-link {
  color: black;
}

#menu.menu-open {
  position: fixed;
  opacity: 1;
  visibility: visible;
  height: 100vh;
  background: var(--lightblue);
}

#menu.menu-open li {
  animation: fadeInRight 1s ease-in-out;
}

/* preloader css loading screen animation */

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
  overflow-y: hidden;
  animation: fade 5s;
  opacity: 0;
  position: fixed;
  z-index: 900;
  visibility: hidden;
  flex-direction: column;
}

.preloader h2 {
  color: rgba(70, 70, 70, 0.247);
  position: absolute;
  margin-top: 55%;
  animation: fadetext 5s;
}

.logoloading {
  display: block;
  position: relative;
  width: 50%;
  animation: enlarge 5s;
  opacity: 0;
  background-color: white;
  visibility: hidden;
}

@keyframes enlarge {
  0% {
    transform: scale(1);
    left: 0%;
  }

  15% {
    transform: scale(1.05);
  }

  30% {
    transform: scale(1);
  }

  45% {
    left: 0%;
    transform: scale(1.05);
    opacity: 100;
    visibility: visible;
  }

  58% {
    left: -300%;
    opacity: 0;
    transform: scale(1.05);
    visibility: hidden;
  }

  100% {
    left: -300%;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
  }
}

@keyframes fade {
  0% {
    opacity: 100;
    visibility: visible;
    background-color: rgb(255, 255, 255);
  }

  56% {
    opacity: 1;
    visibility: visible;
    background-color: rgb(255, 255, 255);
  }

  57% {
    opacity: 1;
    visibility: visible;
    background-color: var(--blue);
  }

  76% {
    opacity: 1;
    visibility: visible;
    background-color: var(--blue);
  }

  92% {
    opacity: 0;
    visibility: visible;
    background-color: var(--blue);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    background-color: var(--blue);
  }
}

@keyframes fadetext {
  0% {
    opacity: 100;
    visibility: visible;
    top: 0%;
  }

  44% {
    opacity: 100;
    visibility: visible;
    top: 0%;
  }

  50% {
    opacity: 100;
    visibility: visible;
    top: 50%;
  }

  52% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/* background-image: url("src/img/logos/logo_myor.png"); */

.squaretran {
  left: 300%;
  background-color: var(--blue);
  width: 300vw;
  height: 100vh;
  animation: slideblock 5s;
  position: absolute;
  visibility: hidden;
}

@keyframes slideblock {
  0% {
    left: 300%;
    opacity: 100;
    visibility: visible;
  }

  45% {
    left: 300%;
    opacity: 100;
    visibility: visible;
  }

  70% {
    left: -300%;
    opacity: 100;
    visibility: visible;
  }

  81% {
    opacity: 0;
    visibility: hidden;
    left: -300%;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    left: -300%;
  }
}

.myorlogo {
  display: block;
  position: absolute;
  width: 25%;
  animation: myorfade 5s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  box-shadow: none;
}

@keyframes myorfade {
  0% {
    opacity: 0;
    visibility: hidden;
    box-shadow: none;
  }

  57% {
    opacity: 0;
    visibility: visible;
  }

  64% {
    opacity: 1;
    visibility: visible;
    box-shadow: none;
  }

  76% {
    box-shadow: 0 10px 80px 30px rgba(0, 0, 0, 0.09),
      0 6px 24px rgba(0, 0, 0, 0.1);
  }

  82% {
    opacity: 1;
    visibility: visible;
  }

  86% {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.1);
  }
}
